* {
	margin: 0;
	padding: 0;
}

.menu {
	text-align: center;
	background-color: white;
    
}

body {
	background-image:
    url("adidas.jpg");
    background-size: 2000px 1000px;
}

#text {
	border:3px dotted blue;
	border-radius:10px;
	padding: 10px;
}

.shoe1 {
    height: 200px;
	width: 600px;
	color: white;
    top: 20%;
	left: 20%;
	margin: 65px;
    display: inline-block;
}
    
.shoe2 {
	height: 200px;
	width: 600px;
	color: white;
	padding-left: 150px;
	margin: 65px;
    display: inline-block;
}

.shoe3 {
	height: 200px;
	width: 600px;
	color: white;
	margin: 65px;
    display: inline-block;
}

.shoe4 {
	height: 200px;
	width: 600px;
	color: white;
	margin: 65px;
    padding-left: 150px;
    display: inline-block;
}

.shoe5 {
	height: 200px;
	width: 600px;
	color: white;
	margin: 65px;
    display: inline-block;
}

.shoe6 {
	height: 200px;
	width: 600px;
	color: white;
	margin: 65px;
    padding-left: 150px;
    display: inline-block;
}

.shoe7 {
	height: 200px;
	width: 600px;
	color: white;
	margin: 65px;
    display: inline-block;
}

.shoe8 {
	height: 200px;
	width: 600px;
	color: white;
	margin: 65px;
    padding-left: 150px;
    display: inline-block;
}


.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
    
#saving {
	border:2px dotted blue;
	background-color: brown;
	border-radius:10px;
}

#deleting {
	border:2px dotted blue;
	border-radius:10px;
}



@media only screen and (min-width: 350px) and (max-width: 767px) {
	.box1 {
	background-color: orange;
	}

}

@media only screen and (min-width: 768px) and (max-width: 1199px) {    
	.box1 {
	background-color: blue;
	}


}

@media only screen and (min-width: 1200px) {
	.box1 {
	background-color: purple;
	}

}

